<div class="container text-center">

  <%= simple_form_for :index, html: {class: 'form-inline padded-s'},
      url: results_path, method: :get do |f| %>
    <%= f.input :ingredient, label: false, placeholder: 'Il y quoi a dans le frigo ?' %>
    <%= f.submit "Chercher !", class: 'btn btn-primary'%>
  <% end %>

    <% @recipes.each do |recipe| %>
    <div class="col-md-4 col-sm-6">
      <div class="recipe-card"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path recipe.photo.path %>')">
      <h3><%= recipe.name %></h3>
      <%= link_to "", recipe_path(recipe), class: "card-link" %>
      </div>
    </div>
  <% end %>
</div>
