<%= @recipe.name %>
<% if @recipe.photo? %>
 <p><%= cl_image_tag @recipe.photo.path, width: 200, height: 300, crop: :fill %></p>
<% end %>

<p>Ingredients</p>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.name.capitalize %></li>
  <% end %>
</ul>
<%= simple_form_for [@recipe, @ingredient] do |f| %>
  <%= f.input :name %>
  <%= f.button :submit %>
<% end %>

<%= @recipe.description %>
