<div class="container padded-m">

<div class="recipe-card"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @recipe.photo.path %>')">
  <h3><%= @recipe.name %></h3>
</div>

  <div class="ingredients">
    <h3 class="text-center">Ingredients</h3>
    <ul>
      <% @recipe.compositions.each do |composition| %>
        <li>- <%= composition.ingredient.name.capitalize %> <%= link_to "x", composition_path(composition), method: :delete,  data: { confirm: "T'es sûr-e de voulouir eliminer cet ingredient ?" }  %></li>
      <% end %>
    </ul>
    <%= simple_form_for [@recipe, @composition] do |f| %>
      <%= f.input :ingredient, label: false %>
      <%= f.button :submit, 'Ajouter ingredient', class: "text-center btn-primary" %>
    <% end %>
  </div>

  <div class="recipe-description">
    <%= @recipe.description %>
  </div>

  <div class="categories">
    <h3 class="text-center">Parfaite pour quelle ocassion ?</h3>
    <ul>
      <% @recipe.groups.each do |group| %>
        <li><%= group.category.name.capitalize %> <%= link_to "x", group_path(group), method: :delete,  data: { confirm: "T'es sûr-e de voulouir eliminer cet ocassion ?" }  %></li>
      <% end %>
    </ul>

    <%= simple_form_for [@recipe, @group] do |f| %>
      <%= f.association :category, label: false %>
      <%= f.button :submit, 'Ajouter ocassions', class: "btn-primary" %>
    <% end %>

  </div>

</div>

